@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p, h2{
    margin-bottom: 13px;
    text-align: justify;
}

h1{
    margin-bottom: 13px;
    line-height: 30px;
}

header, .normal{
    padding: 20px;
}

.flex-content{
    padding: 20px;
    background-color: rgb(190, 190, 190);

    display: flex;
    
    flex-flow: column nowrap;
}

.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.text{
    flex: 1 1 500px;
}

.media{
    flex: 1 0 400px;
}

.media img{
    display: block;
    margin: auto;
    padding-bottom: 10px;
    width: 200px;
}

.media iframe{
    display: block;
    margin: auto;
    width: 90%;
}