@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burger{
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block;
        width: 12vw;
    }

    menu a{
        border-top: 2px solid rgb(140, 181, 206);
    }

    main{
        max-width: 768px;
    }
}