@charset "UTF-8";

/*todas as demais midias*/

/*já tendo feito o mobile first, as midias para celular e telas pequenas já estão feitas no css principal*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    
    body{
        /*na impressão não se imprime o background*/
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    #phone{ display: none; }
    #tablet{ display: none; }
    #print{ display: block; }
    #pc{ display: none; }
    #tv{ display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) /*tablet*/ {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone{ display: none; }
    #tablet{ display: block; }
    #print{ display: none; }
    #pc{ display: none; }
    #tv{ display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1370px) /*desktop*/ {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone{ display: none; }
    #tablet{ display: none; }
    #print{ display: none; }
    #pc{ display: block; }
    #tv{ display: none; }
}

@media screen and (min-width: 1370px) /*telas grandes (tv, etc)*/ {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone{ display: none; }
    #tablet{ display: none; }
    #print{ display: none; }
    #pc{ display: none; }
    #tv{ display: block; }
}